* {
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background: rgb(239, 238, 238);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  border-bottom: 2px solid rgb(188, 188, 188);
  background: white;
}
header .search-stuff {
  border: 2px solid rgb(188, 188, 188);
  border-radius: 10px;
  width: 50%;
  display: flex;
  align-items: center;
}
header .search-bar {
  width: 100%;
  border: transparent;
  border-radius: 10px;
  min-height: 40px;
  outline: none;
}
header ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  gap: 16px;
  cursor: pointer;
}
header ul li:first-child {
  position: relative;
}
header ul li:first-child li {
  padding: 10px 0;
}
header ul li:first-child ul {
  display: none;
  position: absolute;
  top: 35px;
  left: -60px;
  width: 170px;
  min-height: 100px;
  padding: 15px;
  overflow: auto;
  border: 2px solid currentColor;
  background: white;
  border-radius: 10px;
}
header ul li:first-child:hover ul {
  display: block;
  border-bottom: gray solid 2px;
}
header ul li img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: solid red;
}
.title {
  display: flex;
  gap: 6px;
  cursor: pointer;
}
.title span {
  align-self: center;
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 8px rgb(79, 70, 229);
}

/**************Nav left styles***************/
.blue-btn {
  color: white;
  background: rgb(79, 70, 229);
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}
nav ul li h4 {
  margin-block-start: 16px;
  margin-block-end: 16px;
  color: rgb(146, 140, 140);
}
i {
  width: 25px;
}
a {
  color: initial;
  text-decoration: none;
}
.left-column ul {
  list-style: none;
  padding-left: 0;
}
nav ul {
  margin-block-start: 0;
}
nav ul li {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 16px;
  font-weight: 500;
}
.same-line a {
  margin-right: auto;
}
.left-column ul li a {
  margin-bottom: 0;
  transition: all 0.3s;
}
.left-column ul li a:hover {
  color: rgb(227, 18, 18);
}
.border {
  border: 2px solid;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 0;
}
.border.new {
  color: rgb(85, 77, 245);
}
.border.fifteen {
  font-weight: 600;
  color: rgb(188, 188, 188);
  border: none;
  background: black;
}
.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.margin-auto {
  margin-top: 0;
  margin-bottom: 0;
}
.margin-auto li {
  margin-block-start: 16px;
}
/****-------------TOP ROW------------***/
.top-row {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
h4 {
  font-size: 14px;
  color: rgb(146, 140, 140);
  margin-top: 5px;
}
.top-row h4 {
  flex-basis: 100%;
  margin-bottom: 10px;
}
.top-row h4 span {
  color: initial;
  font-weight: bolder;
}
.top-row > article {
  background: white;
  flex-grow: 1;
  min-width: 100px;
  flex-shrink: 0;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid rgb(188, 188, 188);
}
.top-row > article:hover {
  transform: scale(1.1);
}
.top-row > article p:last-child {
  color: rgb(14, 193, 14);
}
.top-row article:nth-child(3) p:last-child {
  color: red;
}
.top-row > article p {
  display: inline;
}
.top-row > article p:last-child {
  float: right;
  margin-top: 0;
}
/***********Charts statistics***************/
.charts-row {
  background: white;
  min-width: 100px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid rgb(188, 188, 188);
}
.charts-row article div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
main p span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 5px;
}
.charts-row article div button {
  border: none;
  background: transparent;
  padding: 6px;
  border-radius: 6px;
}
.charts-row article div button:hover {
  border: solid;
}
.charts-row article div .btn-exception {
  border: 2px solid black;
}
.charts-row article img {
  width: 100%;
  height: 250px;
}
/************SECOND BOTTOM ROW**************/
.cards-row {
  background: white;
  min-width: 100px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid rgb(188, 188, 188);
}
.cards-row > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.cards-row h4,
p {
  margin-top: 6px;
  margin-bottom: 0;
}
.cards-row > div a {
  color: rgb(79, 70, 229);
}
.cards-row article > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 2px solid rgb(188, 188, 188);
}
.cards-row article > div:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
.cards-row article > div:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}
.cards-row article > div .color {
  text-align: center;
  padding: 5px;
  color: rgb(4, 77, 4);
  background-color: rgb(120, 211, 120);
  border-radius: 13px;
}
.color::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: currentColor;
  display: inline-block;
  margin-right: 3px;
}
article > div .color.yellow {
  color: rgb(181, 106, 2);
  background: rgb(249, 249, 42);
}
article > div .color.red {
  color: rgb(183, 20, 9);
  background: rgb(255, 159, 159);
}
/*************MINI CONTAINER****************/

.status-row {
  background: white;
  min-width: 100px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid rgb(188, 188, 188);
}
.status-row article div p {
  display: inline;
}
article div .space {
  text-align: end;
  float: right;
  margin-top: 0;
}
.status-row article div {
  margin-top: 12px;
}
.blue-line {
  position: relative;
  margin-bottom: 20px;
  border: 2px solid transparent;
  height: 11px;
  border-radius: 7px;
  background: rgb(230, 226, 226);
}
.blue-line::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 7px;
  border-radius: 5px;
  background: rgb(79, 70, 229);
}
.blue-line:hover::before {
  position: absolute;
  background: rgb(35, 30, 129);
  transition: all 0.5s;
}
.blue-line.two::before {
  width: 65%;
}
.blue-line.three::before {
  width: 45%;
}
.blue-line.four::before {
  width: 25%;
}
/*********EMAIL CONTACTS CONTENT***********/

.emails-content {
  background: white;
  min-width: 100px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid rgb(188, 188, 188);
}
.flex-lines {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-lines img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: solid red;
  cursor: pointer;
}
/*******MENU HIDDEN*********/
.menu-hidden {
  background-color: rgb(85, 77, 245);
  min-height: 24px;
  display: none;
}
.menu-hidden i {
  color: white;
  margin-left: 20px;
  font-size: 24px;
  cursor: pointer;
}
.menu-hidden i:hover .left-column {
  display: block;
}
/**********Media Queries************/
.left-column {
  flex-basis: 20%;
  margin: 30px;
}
main {
  display: flex;
}
#right-column {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.spacing-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-width: 200px;
}
.spacing-flex section:first-of-type {
  flex: 1 1 60%;
}
.spacing-flex section:last-of-type {
  flex: 1 1 30%;
  min-width: 250px;
}
@media (max-width: 700px) {
  .left-column {
    display: none;
  }
  .menu-hidden {
    display: block;
  }
}
