* {
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background: rgb(230, 230, 230);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  border-bottom: 2px solid rgb(188, 188, 188);
  background: white;
}
header .search-stuff {
  border: 2px solid rgb(188, 188, 188);
  border-radius: 10px;
  width: 50%;
  display: flex;
  align-items: center;
}
header .search-bar {
  width: 100%;
  border: transparent;
  border-radius: 10px;
  min-height: 40px;
  outline: none;
}
header ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  gap: 16px;
  cursor: pointer;
}
header ul li:first-child {
  position: relative;
}
header ul li:first-child li {
  padding: 10px 0;
}
header ul li:first-child ul {
  display: none;
  position: absolute;
  top: 35px;
  left: -60px;
  width: 170px;
  min-height: 100px;
  padding: 15px;
  overflow: auto;
  border: 2px solid currentColor;
  background: white;
  border-radius: 10px;
}
header ul li:first-child:hover ul {
  display: block;
  border-bottom: gray solid 2px;
}
header ul li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid red;
}
.title {
  display: flex;
  gap: 6px;
  cursor: pointer;
}
.title span {
  align-self: center;
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 8px rgb(79, 70, 229);
}

/**************Nav left styles***************/
.left-column {
  width: 20%;
  margin: 30px;
}
.blue-btn {
  color: white;
  background: rgb(79, 70, 229);
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}
nav ul li h4 {
  margin-block-start: 16px;
  margin-block-end: 16px;
  color: rgb(146, 140, 140);
}
i {
  width: 25px;
}
.left-column nav ul {
  list-style: none;
  padding-left: 0;
}
nav ul li {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 16px;
  font-weight: 500;
}
.same-line a {
  margin-right: auto;
}
nav ul li a {
  color: initial;
  margin-bottom: 0;
  text-decoration: none;
  transition: all 0.3s;
}
nav ul li a:hover {
  color: rgb(227, 18, 18);
}
.border {
  border: 2px solid;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 0;
}
.border.new {
  color: rgb(85, 77, 245);
}
.border.fifteen {
  font-weight: 600;
  color: rgb(188, 188, 188);
  border: none;
  background: black;
}
/****-------------Second Section------------***/
main h4 {
  color: rgb(146, 140, 140);
}
.top-row {
  margin: 30px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
.top-row h4 {
  flex-basis: 100%;
}
.top-row h4 span {
  color: initial;
  font-weight: bolder;
}
.top-row > article {
  background: white;
  flex-grow: 1;
  min-width: 100px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 10px;
}

.top-row > article p:last-child {
  color: rgb(14, 193, 14);
}
.top-row article:nth-child(3) p:last-child {
  color: red;
}
.top-row > article p span {
  font-weight: 600;
  font-size: 18px;
}
.top-row > article p {
  display: inline;
}
.top-row > article p:last-child {
  margin-left: auto;
}
/***********Bottom Row***************/
.bottom-row {
  margin: 30px;
}
.bottom-row > article {
  background: white;
  flex-basis: 20%;
  min-width: 100px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 10px;
}
.bottom-row article div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.bottom-row article div button {
  border: none;
  background: transparent;
  padding: 6px;
  border-radius: 6px;
}
.bottom-row article div button:hover {
  border: solid;
}
.bottom-row article img {
  width: 100%;
  height: 350px;
}
/************SECOND BOTTOM ROW**************/
